*.swp
*.bak
*.tmp
*.log
.DS_Store
Thumbs.db
*.tgz
*.zip
*.tar.gz
charts/
manifest/templates/secrets/*
manifest/templates/**/secret.yaml
secrets/
values.secret.yaml
values.override.yaml
rendered.yaml
*.rendered.yaml
.vscode/
.idea/
*.iml
*.code-workspace
.circleci/output.log
.circleci/.env
.env
